:root {
    --color-principal: red;
    --ancho-principal: 250px
}

.titulo{
    color: var(--color-principal);
}

.footer{
    color: var(--color-principal);
}

.conte{
    background-color: antiquewhite;
    padding: 3rem;
    max-width: var(--ancho-principal);
}

